In [2]:
import pandas as pd
import numpy as np
import json, os
import pyarrow as pq

In [11]:
metrics = pd.DataFrame.from_records([
    {
        'first': 'foo',
        'second': 'bar',
        'third': 'biz'
    },
    {
        'first': 'eyy',
        'second': 'lmao',
        'third': 'alien'
    }
])

In [12]:
metrics

  first second  third
0   foo    bar    biz
1   eyy   lmao  alien

In [13]:
values = pd.DataFrame.from_records([
    {
        't0': '34634',
        't1': '12313',
        't2': '45645',
        't3': '68543',
        't4': '94564',
    },
    {
        't0': '5768',
        't1': '2341',
        't2': '7897',
        't3': '5768',
        't4': '2341',
    }
])

In [14]:
values

      t0     t1     t2     t3     t4
0  34634  12313  45645  68543  94564
1   5768   2341   7897   5768   2341